<header>
  <h1><a href="/">The Tech Blog</a></h1>
  <nav>
    <a href="/">Home</a>
    {{#if logged_in}}
      <a href="/dashboard">Dashboard</a>
      <button id="logout-button">Logout</button> <!-- Logout button -->
    {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/if}}
  </nav>
</header>

{{#each blogs}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
    <a href="/post/{{this.id}}">Read more</a>
  </div>
{{/each}}

<!-- Include the logout script -->
<script src="/js/logout.js"></script>
